.body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}
.leftblock {
  background-color: white;
  margin: 20px;
  margin-bottom: 60px;
  justify-content: center;
  margin-right: 60px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: whitesmoke;
}
.Website_Information_container {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.Website_Information {
  background-color: white;
  padding: 10px;
  font-size: medium;
}
.content1 {
  display: flex;
  background-color: white;
  align-items: center;
  padding-left: 60px;
  color: white;
}

.Alcampo {
  display: flex;
  margin: 20px;
  background-color: white;
  justify-content: center;
  color: navy;
  font-size: larger;
}
.alcampo.es {
  display: flex;
  margin: 20px;
  justify-content: center;
  background-color: white;
  align-items: center;
  font-size: small;
}
.table {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  gap: 10px;
  font-size: small;
}
.div1 {
  display: flex;
  justify-content: space-between;
}
.div2 {
  display: flex;
  justify-content: space-between;
}
.div3 {
  display: flex;
  justify-content: space-between;
}
.div4 {
  display: flex;
  justify-content: space-between;
}
.div5 {
  display: flex;
  justify-content: space-between;
}
.rightblock {
  background-color: white;
  margin: 20px;
  margin-bottom: 190px;
  padding-right: 50px;
}
.WebsiteActions_container {
  display: flex;
}
.WebsiteActions {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: medium;
}
.endcontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
  background-color: white;
  margin-left: 15px;
}
.EditWebsiteDetails {
  display: flex;
  order: 1;
}
.editwebsitedetails_title {
  display: flex;
  align-items: center;
  padding: 5px;
  color: grey;
  margin-left: 20px;
}
.SiteIndexing {
  display: flex;
  order: 3;
}
.siteindexing_title {
  display: flex;
  align-items: center;
  padding: 5px;
  color: grey;
  margin-left: 20px;
}
.ScheduleReports {
  display: flex;
  order: 5;
}
.schedulereports_title {
  display: flex;
  align-items: center;
  padding: 5px;
  color: grey;
  margin-left: 20px;
}
.Scopedocuments {
  display: flex;
  order: 7;
}
.scopedocuments_title {
  display: flex;
  align-items: center;
  padding: 5px;
  color: grey;
  margin-left: 20px;
}
.Schedules {
  display: flex;
  order: 2;
}
.schedules_title {
  display: flex;
  align-items: center;
  padding: 5px;
  color: grey;
  margin-left: 20px;
}
.Servicelevelconfiguration {
  display: flex;
  order: 4;
}
.servicelevelconfiguration_title {
  display: flex;
  align-items: center;
  padding: 5px;
  color: grey;
  margin-left: 20px;
}
.Governance {
  display: flex;
  order: 6;
}
.governance_title {
  display: flex;
  align-items: center;
  padding: 5px;
  color: grey;
  margin-left: 20px;
}
.WebsiteTasks {
  display: flex;
  order: 8;
}
.websitetasks_title {
  display: flex;
  align-items: center;
  padding: 5px;
  color: grey;
  margin-left: 20px;
}
